.SearchFilter-Container {
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color:#90d7a4;
}
/* .search-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
} */

.search-list-item {
    padding: 8px 0;
    border-bottom: 1px solid #ddd;
    font-size: 18px;
}

.search-list-item:last-child {
    border-bottom: none;
}

.Search-Item-Input {
    border-radius: 6px;
}
